<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <ul id="sidebar-tags">
      {% if site.filter == 'category' %}
        <li class="sidebar-tag" data-filter="{{ category | first }}">{{ category | first }}</li>   
        {% for post in site.posts %}
          <a class="toc-link" data-tags="{{ post.categories | join: ' ' }}" href="{{ post.url }}">
            {{ post.title }}
          </a>
        {% endfor %}
      {% elsif site.filter == 'tags' %}
      <li class="sidebar-tag" data-filter="{{ site.tags | first }}">{{ site.tags | first }}</li>
        {% for post in site.posts %}
          <a class="toc-link" data-tags="{{ post.tags | join: ' ' }}" href="{{ post.url }}">
            {{ post.title }}
          </a>
        {% endfor %}
      {% endif %}
    </ul>
  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}. All rights reserved.
    </p>
  </div>
</div>
